:root   {
    /*
    CSS VARIABLES HERE
    use like this: var(--c-black-dark)
    */

    --c-blue-dark1: #1E1E24;
    --c-blue-dark2: #1F2933;
    --c-blue-dark3: #394c5d;
    --c-blue-dark4: #4c6a85;
    --c-blue-light1: #dde0e7;
    --c-blue-light2: #cbd4de;
    --c-blue-light3: #c4d3e4;
    --c-blue-light4: #516175;
}

*   {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'Alfa Slab One', cursive;
    font-weight: 100;
}

p   {
    font-family: 'Open Sans', sans-serif;
}

li  {
    font-family: 'Open Sans', sans-serif;
}

a   {
    text-decoration: none;
    color: var(--c-blue-dark1);
}

button:hover   {
    cursor: pointer;
}

html    {
}

body    {
    background-repeat: no-repeat;
    margin: 0;
}

main    {
    background-color: var(--c-blue-light4);
    padding: 0;
    margin: auto;
}


/*-----------------Header-area--------------------*/

header  {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    height: 19vh;
    padding: 5vh;
    color: var(--c-blue-light3);
    background-color: var(--c-blue-dark3);
}

.logoTitleContainer {
    display: flex;
    align-items: center;
    gap: 2vh;
}
#hamburgerIcon  {
    visibility: hidden;
}
.logoTitleContainer figure  {
    margin: 0;
    background: url(../media/logo.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 8em;
    height: 3em;
    border-radius: 4px;
}
.logoTitleContainer h1   {
    font-size: 3em;
    margin: 0;
}
.logoTitleContainer h3  {
    color: var(--c-blue-light1);
    margin: 0;
}

#profilePicture {
    margin: 0;
    background: url(../media/blank-profile-pic.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 3em;
    height: 3em;
    border-radius: 30px;
}
#profilePicture:hover   {
    cursor: pointer;
}


/*------------------Main-body--------------------*/

.contentContainer   {
    display: flex;
    flex-direction: row;
}


/*------------Left-side------------*/

aside   {
    position: sticky;
    align-self: flex-start;
    top: 19%;
    flex: 0.7;
    flex-direction: row;
    text-align: center;
    font-size: 1.4em;
    background-color: var(--c-blue-light4);
    border-left: var(--c-blue-light4) solid 1vh;
    border-right: var(--c-blue-light4) solid 1vh;
}
aside h2    {
    color: var(--c-blue-light3);
}

.locationsList  {
    list-style-type: none;
    padding: 0;
}
.locationsList li   {
    background-color: var(--c-blue-light4);
    color: var(--c-blue-light3);
    padding-top: 1vh;
    padding-bottom: 1vh;
    /*border-top: var(--c-blue-dark2) solid 0.05vh;*/
    border-bottom: var(--c-blue-dark2) solid 0.05vh;
    transition: background-color 1.1s, padding-top 0.7s, padding-bottom 0.7s;
}
.locationsList li:hover {
    background-color: var(--c-blue-light1);
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}
/*
.navBar ul li   {
    display: flex;
    width: 15vh;
    height: 7vh;
    margin: 2vh;
    border-radius: 10px;
    background-color: #b0b4b7;
    transition: background-color 2s, width 2s, height 1.5s;
}
.navBar ul li:hover {
    background-color: #464343;
}
 */

#recentList {
    list-style-type: none;
}


/*------------Right-side------------*/

.rightSideContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--c-blue-light1);
    flex: 3;
}

.rightSideContainer section {
    flex-basis: 40vh;
    background: url(../media/mountains.jpg) no-repeat center -200px fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: var(--c-blue-light1) solid 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--c-blue-light3);
}
.rightSideContainer section h3  {
    visibility: hidden;
}

.bottomRightContainer {
    display: flex;
    flex: 3;
}
.leftArticle {
    flex: 1;
    padding: 3vh;
    background-color: var(--c-blue-light2);
    border-right: var(--c-blue-light1) solid 1vh;
    word-break: break-all;
}
.rightArticle    {
    flex: 1;
    padding: 3vh;
    background-color: var(--c-blue-light2);
    word-break: break-all;
}

.leftArticle h2 {
    text-align: center;
}

.rightArticle h2 {
    text-align: center;
}

#popularList {
    list-style-type: none;
}

#post {
    border: 1px solid var(--c-blue-dark1);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    background-color: var(--c-blue-light1);
    box-shadow: 9px 10px 5px -5px rgba(0,0,0,0.22);
    display: flex;
}

#post-username {
    flex: 1;
    margin-left: 10px;
}

#post-title {
    flex: 2;
}

#post-content {
    display: none;
}

.active {
    display: block;
}

.mountains {
    flex-direction: row;
    display: flex;
}

.mountain-card {
    color: var(--c-blue-light1);
    border: 1px solid var(--c-blue-dark4);
    border-radius: 10px; 
    width: 30vh;
    height: 30vh;
}

.mountain-card img {
    width: 100%;
    height: auto;
}


/*--------------Footer-----------------*/

footer  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19vh;
    background-color: var(--c-blue-dark3);
    color: var(--c-blue-light3);
}


/*----------Media-queries------------*/

@media only screen and (max-width: 850px)   {

    header  {
        padding: 2.7vh;
    }

    .logoTitleContainer figure  {
        width: 7em;
        height: 3em;
    }
    .logoTitleContainer h1  {
        font-size: 2em;
    }
    .bottomRightContainer   {
        flex-direction: column;
    }
    .leftArticle    {
        border-right: 0;
    }
    .rightArticle   {
        border-top: var(--c-blue-light1) solid 1vh;
    }
}


@media only screen and (max-width: 610px)   {

    #hamburgerIcon   {
        visibility: visible;
        width: 3em;
        height: 3em;
        background: url(../media/hbIcon.png) no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border-radius: 8px;
    }
    .logoTitleContainer h1  {
        visibility: hidden;
        font-size: 0;
    }
    aside   {
        visibility: hidden;
        flex: 0;
        width: 0;
        border: 0;
    }
    .rightSideContainer section {
        background: linear-gradient(rgba(56, 56, 56, 0.5), rgba(56, 56, 56, 0.5)), url(../media/mountains.jpg) no-repeat center -200px fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .rightSideContainer section h3 {
        visibility: visible;
        font-size: 2em;
    }
    .bottomRightContainer   {
        flex-direction: column;
    }
    .leftArticle    {
        border-right: 0;
    }
    .rightArticle   {
        border-top: var(--c-blue-light1) solid 1vh;
    }
}


@media only screen and (max-width: 400px)   {

    #admin  {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}


@media only screen and (max-width: 350px)   {

    .logoTitleContainer {
        gap: 1vh;
    }

    .bottomRightContainer h2   {
        font-size: 1.3em;
    }
}




/*---------------Hidden-elements------------------*/

#profile    {
    position: fixed;
    top: 19vh;
    right: 0;
    width: 25vh;
    height: 20vh;
    background-color: var(--c-blue-light3);
    border: var(--c-blue-light4) solid 0.5vh;
}
#profile article    {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#profile button {
    background-color: var(--c-blue-light1);
    border: white double 0.5em;
    border-radius: 15px;
}


/* UNDER CONSTRUCTION */
#slide  {
    position: fixed;
    width: 60vh;
    top: 19vh;
    left: -60vh;
    z-index: 2;
    transition: 1s;
    background-color: crimson;
}

#hamburgerIcon.clicked #slide  {
    /*transition: 1s;*/
    left: 0;
}


