:root   {
    /*
    CSS VARIABLES HERE
    use like this: var(--c-black-dark)
    */

    --c-blue-dark1: #1E1E24;
    --c-blue-dark2: #1F2933;
    --c-blue-dark3: #394c5d;
    --c-blue-dark4: #4c6a85;
    --c-blue-light1: #dde0e7;
    --c-blue-light2: #cbd4de;
    --c-blue-light3: #c4d3e4;
    --c-blue-light4: #516175;
}

*   {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'Alfa Slab One', cursive;
    font-weight: 100;
}

p   {
    font-family: 'Open Sans', sans-serif;
}

li  {
    font-family: 'Open Sans', sans-serif;
}

label   {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

a   {
    text-decoration: none;
    color: var(--c-blue-dark1);
}

button:hover   {
    cursor: pointer;
}

html    {
}

body    {
    background-repeat: no-repeat;
    margin: 0;
}

main    {
    background-color: var(--c-blue-light4);
    padding: 0;
    margin: auto;
}


/*-----------------Header-area--------------------*/

header  {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 5vh;
    color: var(--c-blue-light3);
    background-color: var(--c-blue-dark3);
    box-shadow: -2px 4px 16px -7px rgba(0,0,0,0.75);
}

.logoTitleContainer {
    display: flex;
    align-items: center;
    gap: 2vh;
}
#hamburgerIcon  {
    visibility: hidden;
}
.logoTitleContainer figure  {
    margin: 0;
    background: url(../media/logo.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 8em;
    height: 3em;
    border-radius: 4px;
}
.logoTitleContainer h1   {
    font-size: 3em;
    margin: 0;
}
.logoTitleContainer h3  {
    color: var(--c-blue-light1);
    margin: 0;
}

#log-icon {
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 3em;
    height: 3em;
    border-radius: 30px;
}
#log-icon:hover   {
    cursor: pointer;
}


/*------------------Main-body--------------------*/

.contentContainer   {
    display: flex;
    flex-direction: row;
}


/*------------Left-side------------*/

aside   {
    position: sticky;
    align-self: flex-start;
    top: 15%;
    flex: 0.7;
    flex-direction: row;
    text-align: center;
    font-size: 1.4em;
    background-color: var(--c-blue-light4);
    border-left: var(--c-blue-light4) solid 1vh;
    border-right: var(--c-blue-light4) solid 1vh;
}
aside h2    {
    color: var(--c-blue-light3);
}
aside h3    {
    color: #c4d3e4;
}

.locationsList  {
    list-style-type: none;
    padding: 0;
}
.locationsList li   {
    background-color: var(--c-blue-light4);
    color: var(--c-blue-light3);
    padding-top: 1vh;
    padding-bottom: 1vh;
    /*border-top: var(--c-blue-dark2) solid 0.05vh;*/
    border-bottom: var(--c-blue-dark2) solid 0.05vh;
    transition: background-color 1.1s, padding-top 0.7s, padding-bottom 0.7s;
}
.locationsList li:hover {
    background-color: var(--c-blue-light1);
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}


.first-ll {
  border-top: #1F2933 solid 1px;
}

#recentList {
    list-style-type: none;
}


/*------------Right-side------------*/

.rightSideContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--c-blue-light1);
    flex: 3;
}

.rightSideContainer section {
    flex-basis: 40vh;
    background: url(../media/mountains.jpg) no-repeat center -200px fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: var(--c-blue-light1) solid 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--c-blue-light3);
}
.rightSideContainer section h3  {
    visibility: hidden;
}

#switchHeader   {
    margin-bottom: 1vh;
    margin-top: 2vh;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-bottom: 2vh;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

.switchContainer    {
    flex: 1;
}

.postContainer  {
    flex: 1;
}

.leftArticle h2 {
    text-align: center;
}

.rightArticle h2 {
    text-align: center;
}

#postList {
    list-style-type: none;
    padding-left: 4vh;
    padding-right: 4vh;
}


/*------Posts------*/

.postHolder {
    padding: 3vh;
    background-color: var(--c-blue-light2);
    border-right: var(--c-blue-light1) solid 1vh;
    word-break: break-all;
    display: flex;
    flex-direction: column;
}

#latestPost, #popularPost  {
border: 1px solid #1E1E24;
border-radius: 5px;
padding: 5px;
margin: 10px;
background-color: #dde0e7;
box-shadow: 9px 10px 5px -5px rgba(0,0,0,0.22);
display: flex;
gap: 2vh;
flex-direction: column;
}

#post-figure    {
    display: flex;
    flex-direction: row;
}

#post-image {
    width: 23vh;
    height: 23vh;
    border: 1px solid var(--c-blue-light4);
    border-radius: 5px;
    flex: 1;
}

#post-titleContainer    {
    display: flex;
    flex-direction: column;
    flex: 5;
    margin-left: 3vh;
}

#post-article   {
    display: flex;
    flex-direction: column;
}
#post-likes-and-dislikes    {
    display: flex;
    gap: 4vh;
}

.active {
    display: block;
}

.inactive   {
    display: none;
}

#mountains {
    display: flex;
    flex-wrap: wrap;
}


.mountain-card {
    color: var(--c-blue-light1);
    border: 1px solid var(--c-blue-dark4);
    background-color: #4c6a85;
    border-radius: 5px;
    flex: 0 1 25%;
    transition: box-shadow 1s;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.mountain-card:hover {
    box-shadow: 10px 11px 23px -11px #101010;
    cursor: pointer;
}

.mountain-card img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.mountain-card-info h2 {
    text-align: center;
}

.mountain-card-info p {
    margin-left: 10px;
}

.reg-log-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15vh;
    margin-bottom: 15vh;
    flex-direction: column;
}

.reg-log-card {
    border: 1px solid var(--c-black-dark);
    background-color: var(--c-blue-light2);
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 11px 23px -11px #101010;
}

.reg-log-img {
    margin: 0;
    background: url(../media/logo.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 10em;
    height: 4em;
    border-radius: 4px;
    margin: 20px;
}

.reg-log-card input {
    width: 95%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.reg-log-card button {
    background-color: var(--c-blue-dark3);
    color: var(--c-blue-light2);
    border: 1px solid var(--c-blue-dark3);
    border-radius: 5px;
    padding: 10px;
    width: 35%;
    margin: 10px;
}

.reg-card {
    text-align: center;
    border: 1px solid var(--c-black-dark);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 11px 23px -11px #101010;
    width: 30%;
    background-color: var(--c-blue-light2);
}

.reg-card {
    font-weight: bolder;
}

.reg-card p a {
    color: #0000FF;
}

.reg-card p a:hover {
    text-decoration: underline;
}


/*-----------Mountain.html-------------*/

#mountain-container {
    flex-basis: 60vh;
    display: flex;
    flex-direction: row;
}

#mountain-image-container   {
    flex: 1;
    background-color: var(--c-blue-light1);
    border-bottom: 1vh solid var(--c-blue-dark4);
}
#mountain-image {
    width: 100%;
    height: 100%;
}

#mountain-info-container    {
    flex: 1;
    background-color: var(--c-blue-dark2);
    border-bottom: 1vh solid var(--c-blue-dark4);
}

#mountain-info  {
    color: var(--c-blue-light1);
}



/*-------Post-creation--------*/

#create-post-container  {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 7vh;
    margin-left: 7vh;
    margin-bottom: 7vh;
}
#create-post-container h2   {
    margin: 0 0 3vh;
}
#create-post-container input[type=text], input[type=submit], textarea {
    border: 2px solid var(--c-blue-dark4);
    border-radius: 5px;
}


/*--------------Footer-----------------*/

footer  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19vh;
    background-color: var(--c-blue-dark3);
    color: var(--c-blue-light3);
}


/*----------Media-queries------------*/

@media only screen and (max-width: 1000px)   {
    .bottomRightContainer   {
        flex-direction: column;
    }
}


@media only screen and (max-width: 850px)   {

    header  {
        padding: 2.7vh;
    }

    .logoTitleContainer figure  {
        width: 7em;
        height: 3em;
    }
    .logoTitleContainer h1  {
        font-size: 2em;
    }
    .bottomRightContainer   {
        flex-direction: column;
    }
    .leftArticle    {
        border-right: 0;
    }
    .rightArticle   {
        border-top: var(--c-blue-light1) solid 1vh;
    }

    .reg-log-img {
        width: 7em;
        height: 3em;
    }

    .reg-log-card {
        width: 60%;
    }

    .reg-card {
        width: 60%;
    }
}


@media only screen and (max-width: 610px)   {

    #hamburgerIcon   {
        visibility: visible;
        width: 3em;
        height: 3em;
        background: url(../media/hbIcon.png) no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border-radius: 8px;
    }
    .logoTitleContainer h1  {
        visibility: hidden;
        font-size: 0;
    }
    aside   {
        visibility: hidden;
        flex: 0;
        width: 0;
        border: 0;
    }
    .rightSideContainer section {
        background: linear-gradient(rgba(56, 56, 56, 0.5), rgba(56, 56, 56, 0.5)), url(../media/mountains.jpg) no-repeat center -200px fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .rightSideContainer section h3 {
        visibility: visible;
        font-size: 2em;
    }
    .bottomRightContainer   {
        flex-direction: column;
    }
    .leftArticle    {
        border-right: 0;
    }
    .rightArticle   {
        border-top: var(--c-blue-light1) solid 1vh;
    }

    #popularList {
        padding-left: 2vh;
        padding-right: 2vh;
    }

    #recentList {
        padding-left: 2vh;
        padding-right: 2vh;
    }
}


@media only screen and (max-width: 400px)   {

    #admin  {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}


@media only screen and (max-width: 350px)   {

    .logoTitleContainer {
        gap: 1vh;
    }

    .bottomRightContainer {
        font-size: 0.8em;
    }

    .leftArticle    {
        padding: 0;
    }

    .rightArticle   {
        padding: 0;
    }

    #popularList {
        padding: 0;
    }

    #recentList {
        padding: 0;
    }
}




/*---------------Hidden-elements------------------*/

#profile    {
    position: fixed;
    top: 15vh;
    right: 0;
    width: 25vh;
    height: 20vh;
    background-color: var(--c-blue-light3);
    border: var(--c-blue-light4) solid 0.5vh;
}
#profile article    {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#profile button {
    background-color: var(--c-blue-light1);
    border: white double 0.5em;
    border-radius: 15px;
}


/* UNDER CONSTRUCTION */
#slide  {
    position: fixed;
    width: 60vh;
    top: 19vh;
    left: -60vh;
    z-index: 2;
    transition: 1s;
    background-color: crimson;
}

#hamburgerIcon.clicked #slide  {
    /*transition: 1s;*/
    left: 0;
}


