:root   {
    /* CSS VARIABLES HERE */
}


*   {
    box-sizing: border-box;
}


h1, h2, h3 {
    font-family: 'Alfa Slab One', cursive;
    font-weight: 100;
}


p   {
    font-family: 'Open Sans', sans-serif;
}


li  {
    font-family: 'Open Sans', sans-serif;
}


html    {
}


body    {
    background-repeat: no-repeat;
    margin: 0;
}


main    {
    background-color: #516175;
    padding: 0;
    margin: auto;
}


/*-----------------Header-area--------------------*/

header  {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 5vh;
    color: #c4d3e4;
    background-color: #394c5d;
    border-bottom: 1px #CEBC81; /*Ei toimi jostain syystä*/
}

.logoTitleContainer {
    display: flex;
    align-items: center;
    gap: 2vh;
}
.logoTitleContainer figure  {
    margin: 0;
    background: url(../media/logo.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 8em;
    height: 3em;
    border-radius: 4px;
}
.logoTitleContainer h1   {
    font-size: 3em;
    margin: 0;
}

.profilePicture {
    margin: 0;
    background: url(../media/blank-profile-pic.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 3em;
    height: 3em;
    border-radius: 30px;
}


/*------------------Main-body--------------------*/

.contentContainer   {
    display: flex;
    flex-direction: row;
}

/*------------Left-side------------*/
aside   {
    /*
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;
    */
    /*height: 100vh;*/
    position: sticky;
    align-self: flex-start;
    top: 15%;
    flex: 0.7;
    flex-direction: row;
    text-align: center;
    color: #479761;
    font-size: 1.4em;
    background-color: #516175;
    border-left: #516175 solid 1vh;
    border-right: #516175 solid 1vh;
}
aside h3    {
    color: #c4d3e4;
}

.locationsList  {
    list-style-type: none;
    padding: 0;
}
.locationsList li   {
    background-color: #516175;
    color: #c4d3e4;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: #1F2933 solid 1px;
}

.first-ll {
    border-top: #1F2933 solid 1px;
}

#recentList {
    list-style-type: none;
}

/*------------Right-side------------*/
.rightSideContainer {
    display: flex;
    flex-direction: column;
    background-color: #dde0e7;
    flex: 3;
}

section {
    flex-basis: 40vh;
    background: url(../media/mountains.jpg) no-repeat center -200px fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: #dde0e7 solid 1vh;
}

.bottomRightContainer {
    display: flex;
    flex: 3;
}
.leftArticle {
    flex: 1;
    padding: 3vh;
    background-color: #cbd4de;
    border-right: #dde0e7 solid 1vh;
    word-break: break-all;
}
.rightArticle    {
    flex: 1;
    padding: 3vh;
    background-color: #cbd4de;
    word-break: break-all;
}

.leftArticle h2 {
    text-align: center;
}

.rightArticle h2 {
    text-align: center;
}

#popularList {
    list-style-type: none;
}

#post {
    border: 1px solid #1E1E24;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    background-color: white;
    box-shadow: 9px 10px 5px -5px rgba(0,0,0,0.22);
    display: flex;

}

#post-username {
    flex: 1;
    margin-left: 10px;
}

#post-title {
    flex: 2;
}

#post-content {
    display: none;
}

.active {
    display: block;
}

#mountains {
    display: flex;
    flex-wrap: wrap;
}

.mountain-card {
    color: #FFFF;
    border: 1px solid #4c6a85;
    background-color: #4c6a85;
    border-radius: 5px;
    flex: 0 1 25%;
    transition: box-shadow 1s;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.mountain-card:hover {
    box-shadow: 10px 11px 23px -11px #101010;
}

.mountain-card img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.mountain-card-info h2 {
    text-align: center;
}

.mountain-card-info p {
    margin-left: 10px;
}


/*--------------Footer-----------------*/

footer  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #394c5d;
    color: #c4d3e4;
}






